<html>
    <head>
        <title>Daftar Surat</title>

        <script src="./js/angular.min.js"></script>
        <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css"/>

        <script src="./js/buku-app.js"></script>
        <script src="./js/daftar-controller.js"></script>
    </head>
    <body class="container" ng-app="SrtApp">
        <div class="jumbotron">
            <h1>Daftar Surat</h1>
        </div>

        <div ng-controller="DaftarController">
            <table class="table">
                <thead>
                    <th>NOME</th>
                    <th>TANGGAL</th>
                    <th>NAMA</th>
                    <th>PERIHAL</th>    
                </thead>
                <tbody>
                    <tr ng-repeat="surat in daftarSurat">
                        <td>{{ surat.nomer }}</td>
                        <td>{{ surat.tanggal }}</td>
                        <td>{{ surat.nama }}</td>
                        <td>{{ surat.perihal }}</td>
                        <td>
                            <button class="btn btn-warning"
                                    ng-click="edit(surat)">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger"
                                    ng-click="hapus(surat)">
                                Hapus
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary"
                    ng-click="tambah()">
                Tambah
            </button>
        </div>
    </body>
</html>